.first-name-frame-child {
  height: 585px;
  flex: 1;
  position: relative;
  border-radius: 25px;
  max-width: 100%;
  overflow: hidden;
  z-index: 2;
}
.email-rectangle,
.first-name {
  position: absolute;
  margin: 0 !important;
}
.first-name {
  top: 145px;
  left: 62px;
  font-weight: 600;
  z-index: 4;
}
.email-rectangle {
  border: 0;
  outline: 0;
  background-color: var(--color-gainsboro);
  height: 44px;
  width: 307px;
  bottom: 122px;
  left: 45px;
  z-index: 3;
}
.email,
.passward {
  font-weight: 600;
  z-index: 4;
}
.passward {
  position: absolute;
  margin: 0 !important;
  bottom: 206px;
  left: 64px;
}
.email {
  bottom: 278px;
  left: 63px;
}
.email,
.first-name-frame,
.last-name {
  margin: 0 !important;
  position: absolute;
}
.last-name {
  top: 216px;
  left: 62px;
  font-weight: 600;
  z-index: 4;
}
.first-name-frame {
  width: 398px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-base-5);
  color: var(--color-gray-500);
  font-family: var(--font-inter);
}
.component-18-child {
  height: 36px;
  width: 36px;
  position: relative;
  border-radius: 5px;
}
.x {
  height: 26px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
  margin-left: -28px;
}
.component-18 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xs) 8px 0 0;
  z-index: 3;
}
.sign-in {
  width: 145px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
  z-index: 3;
}
.second-passward-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-19xl-7);
  color: var(--color-white);
}
.component-18-parent {
  width: 252px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 8px 0;
}
.space-frame {
  border: 0;
  outline: 0;
  background-color: var(--color-gainsboro);
  height: 44px;
  flex: 1;
  position: relative;
  min-width: 184px;
  z-index: 3;
}
.sign-in-label,
.space-frame-wrapper {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.space-frame-wrapper {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-17xl) 0 0;
}
.sign-in-label {
  flex-direction: column;
  align-items: flex-end;
  gap: 28px 0;
  text-align: left;
  font-size: var(--font-size-16xl-8);
  color: #d41010;
  font-family: var(--font-inter);
}
.error-message-frame {
  border: 0;
  outline: 0;
  background-color: var(--color-gainsboro);
  height: 44px;
  flex: 1;
  position: relative;
  min-width: 184px;
  z-index: 3;
}
.layout-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-17xl) 0 0;
}
.input-field-pair,
.input-field-pair1 {
  border: 0;
  outline: 0;
  background-color: var(--color-gainsboro);
  align-self: stretch;
  height: 44px;
  position: relative;
  min-width: 184px;
  z-index: 3;
}
.column-layout,
.spacer-frames {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.column-layout {
  flex: 1;
  flex-direction: column;
  gap: 28px 0;
}
.spacer-frames {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-17xl) var(--padding-smi) 0;
}
.passward-again {
  position: relative;
  font-weight: 600;
  z-index: 4;
}
.password-input {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.component-5-item {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 16.81px;
  background-color: var(--color-darkgray);
}
.log-in23 {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-weight: 600;
  white-space: pre-wrap;
  z-index: 1;
}
.component-57 {
  width: 76px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-8xs) var(--padding-xs)
    var(--padding-9xs);
  box-sizing: border-box;
  position: relative;
}
.email-input {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 16.81px;
  background-color: var(--color-darkgray);
}
.log-in24 {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-weight: 600;
  white-space: pre-wrap;
  z-index: 1;
}
.component-13 {
  height: 30px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-12xs) var(--padding-xs)
    var(--padding-9xs);
  box-sizing: border-box;
  position: relative;
  z-index: 3;
}
.second-input-field,
.sign-in-button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.second-input-field {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 17px;
  font-size: var(--font-size-base-5);
}
.sign-in-button {
  width: 93px;
  flex-direction: column;
  gap: 1px 0;
  font-size: 17.5px;
  color: var(--color-black);
}
.log-in-instance {
  width: 173px;
  flex-direction: column;
  align-items: flex-end;
  gap: 7px 0;
}
.log-in-instance,
.login-form,
.passward-again-label {
  display: flex;
  justify-content: flex-start;
}
.passward-again-label {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 19px;
  text-align: left;
  font-size: var(--font-size-base-5);
  color: var(--color-gray-500);
  font-family: var(--font-inter);
}
.login-form {
  width: 398px;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-8xs) 10px 66px 45px;
  box-sizing: border-box;
  gap: 28px 0;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}
